/* Basic Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a3d62;
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* FOOTER */
.footer {
    background: #2d3436;
    color: white;
    padding: 30px 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.social {
    list-style: none;
    padding: 0;
}

.social li a {
    color: white;
    text-decoration: none;
}

/* MEDIA QUERIES */
@media(max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
